<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<style>
body {margin:0;}

.top-head{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul b {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



li {
    float: left;
    border-right:1px solid #bbb;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}


.mid-box {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 40px;

    width:50%;
    margin: auto;
    padding: 10px;

}

input[type=text], select {

}

input[type=submit] {

}

.submit{
    width: 25%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    }

.middle-save-bt{
    margin: 8px 37% -8px;
    }

.word-text{
    width: 100%;
    height: 25%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    }

.search {
        width: 30%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image:  url('images/search.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    }

input[type=submit]:hover {
    background-color: #45a049;
}


textarea {
    width: 100%;
    height: 25%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}


.select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: ;
}

</style>

<script>
function set_property() {
    var text_content = document.getElementById("content")
    text_content.style.fontSize = document.getElementById("font_size").value+"px";
    text_content.style.color = document.getElementById("choose_color").value;
}


var app = angular.module('fontsizeApp', []);
app.controller('fontsizeCtrl', function($scope) {
    $scope.fontSize = document.getElementById("font_size").value;
});


function uploadOnChange() {
    var filename = this.value;
    var lastIndex = filename.lastIndexOf("\\");
    if (lastIndex >= 0) {
        filename = filename.substring(lastIndex + 1);
    }
        document.getElementById('filename').value = ".. image:: /static/rstapp/images/"+filename;
}

</script>

</head>
<body>

<ul class="top-head">
  <li><a class="active" href="{% url 'rstapp:home' %}">Home</a></li>
  <li><a href="{% url 'rstapp:presentation_list' %}">Presentation List</a></li>
    <li><a href="">Download / Upload</a></li>
  <ul style="float:right;list-style-type:none;">
    <li><a href="#about">About</a></li>
    <li><a href="admin">Admin</a></li>
  </ul>
</ul>
<br>
<br>
<br>
<center><h1>Create Presentation</h1></center>
<div ng-app="fontsizeApp" ng-controller="fontsizeCtrl">

<div class="mid-box">

  <form action="{% url 'rstapp:create_rst' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}

      <center><h2><label for="presentation_name" ><b>Presentation Name</b></label></h2></center>
      <input placeholder="Name.." class="word-text" type="text" id="presentation_name" name="presentation_name" required><br><br>

      Color: <input type="color" id="choose_color" onchange="set_property()" name="favcolor" value="#000000">
      Font Size: <input ng-model="fontSize" type="range" id="font_size" value="16" name="points" min="5" max="40" onchange="set_property()">{%verbatim%} {{fontSize}} {%endverbatim%}
      <br>Upload Picture:

      <input id="upload" name="upload" type="file" >
      <script> document.getElementById('upload').onchange = uploadOnChange;</script>
      Picture Url : <input id="filename" type="text" />

      <br><br>

       <textarea placeholder="Write something here..
======================
example
=======
* Your topic.
* Your content.
* etc... " id="content" name="content" cols="100" rows="30" required></textarea>

      <br><br>
      <label for="style_presentation"><b>Style of Presentation</b></label><br><br>
       <select class="select" id="style_presentation" name="style_presentation">
        <option value="">Clean</option>
        <option value="--deck-js">Deck</option>
        <option value="--jquery --reveal-js">Reveal</option>
        <option value="--jquery --bootstrap-css">Bootstrap</option>
       </select><br><br>

    <center><input type="submit" class="submit" value="Create"></center>
  </form>
</div></div>

{% if error_message %}<p style="text-align: center; font-size:150%;"><strong>{{ error_message }}</strong></p>{% endif %}


</body>
</html>