<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Presentation List</title>

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'rstapp/style.css' %}" />

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>


</head>
<body>

<ul class="top-head">
  <li><a href="{% url 'rstapp:home' %}">Home</a></li>
  <li><a class="active" href="">Presentation List</a></li>
    <li><a href="">Download / Upload</a></li>
  <ul style="float:right;list-style-type:none;">
    <li><a href="#about">About</a></li>
    <li><a href="admin">Admin</a></li>
  </ul>
</ul>
<center>

<div ng-app="myApp" ng-controller="namesCtrl">

<h1>Presentation List</h1>

<p><input placeholder="Search" class="search" type="text" id="search" name="search" ng-model="test"></p>


  <p ng-repeat="x in names | filter:test">
   {%verbatim%} {{ x }} {%endverbatim%}
  </p>


</div>
</center>
<script>
angular.module('myApp', []).controller('namesCtrl', function($scope) {
    $scope.names = {{ latest_presentation_list|safe }}
});
</script>


</body>
</html>